#map {
  height: 500px;
  width: 80%;
}

#state-map {
  height: 500px;
  width: 50%;
}

.info {
  font-size: 20px;
}

.legend {
    font-size: 20px;
    line-height: 24px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 8px;
}
