/*@import "bower_components/material-design-lite/material.css";*/


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}


/*.trails {
  float: left;
  padding: 0 30px;
}*/
.mdl-grid {
  max-width: 1024px;
}

#map {
  height: 500px;
  width: 100%;
}

#state-map {
  float: left;
  height: 500px;
}

.info {
  font-size: 20px;
}

.legend {
  font-size: 20px;
  line-height: 24px;
  color: #555;
  background: rgba(225, 225, 245, .9);
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 8px;
}
